*.project
*.classpath
*.factorypath
*.project
*.settings
*.jar
*.bin
*.class
*.class.*
*.properties
*resolvedMainClassName

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
